img{
    margin-top: 30px;
    width: 200px;
}
.user{
    margin-top: 50px;
}
ion-avatar {     
    width:200px;  
    height : 200px;  
}

.panicLetrero{
    margin-top: 100px;
    color: #C1BEBE;
}

.logOut{
    margin-top: 40px;
}