<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> user </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-avatar>
          <img src="https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector-.jpg">
        </ion-avatar>
    </ion-row>
    <ion-row class="ion-justify-content-center user">
      <ion-item>
        <p>User name</p>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item>
        <p>Email</p>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-list>
        <ion-item>
          <ion-label>Contact list</ion-label>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
            <ion-select-option >Contacto1</ion-select-option>
            <ion-select-option >Contacto2</ion-select-option>
            <ion-select-option >Contacto3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-list>
        <ion-item>
          <ion-label>Emergency list</ion-label>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
            <ion-select-option >Policia</ion-select-option>
            <ion-select-option >911</ion-select-option>
            <ion-select-option >Sijin</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button href="http://localhost:8100/home" (click)="logout()" class="logOut" expand="full" color="danger">Log out</ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center panicLetrero">
      Pan!c
    </ion-row>
    </ion-grid>
</ion-content>
