<ion-header>
  <ion-toolbar>

    <ion-row>
      <ion-col >
        <ion-buttons>
          <ion-back-button defaultHref="/"></ion-back-button>
          <ion-title >User</ion-title>
        </ion-buttons>
      </ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-avatar>
          <img src="https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector-.jpg">
        </ion-avatar>
    </ion-row>
    <ion-row class="ion-justify-content-center user">
      <ion-item>
        <p>User name</p>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item>
        <p>Email</p>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item>
        Contact List  <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
      <ion-item>
        Emergency list
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
    </ion-row>

    <ion-row class="ion-justify-content-center panicLetrero">
      Pan!c
    </ion-row>
    </ion-grid>
</ion-content>
