<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mapa</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map">
    Aquí vá el mapa
  </div>
  <div *ngIf="randomizeAlert();else no_alerts">
    <ion-button color="success" (click)="mensageAlerta('aceptada')" expand="block">Aceptar</ion-button>
    <ion-button color="danger " (click)="mensageAlerta('rechazada')" expand="block">Cancelar</ion-button>
  </div>
  <ng-template #no_alerts>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Todo en orden</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        No hay alertas cerca de ti, puedes estar tranquilo.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>