
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let icono of icons | keyvalue">
      <ion-icon [name]="icono.value.icon" slot="start"></ion-icon>
      <ion-label>
        {{icono.value.title}}
      </ion-label>
      <div class="item-note" slot="end">
        <ion-toggle 
          [(ngModel)]="icono.value.estado"
          color="primary"
          (ionChange)="optionChange(icono.key)">
        </ion-toggle>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
