<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pan!c
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="table">
      <ion-row >
        <ion-col col-4 >          
          <ion-icon name="locate" style="zoom:2.0;"></ion-icon>          
        </ion-col>
        <ion-col col-4>         
          <ion-icon name="eye" style="zoom:2.0;"></ion-icon>          
        </ion-col>
        <ion-col col-4>         
          <ion-icon name="volume-mute" style="zoom:2.0;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button color="danger" class="sm panic-btn">
        !
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
